<h1>Welcome to Hogwarts student registration system (HSRS)</h1>

<div class=student_info>

  <% for student in @students do  %>

    <p>Student name: <%=  "#{student.first_name} #{student.second_name}" %></p>
    <p>House: <%=  "#{student.house.name}" %></p>
    <p>Age: <%=  "#{student.age}" %></p>

    <p><a href="/hogwarts/<%= student.id %>">Show student detail</a></p>
    <img src="<%= student.house.logo %>" alt="">
    <hr>

  <% end %>

  <footer>

    <img id= "footer-image" src="/footer.jpg" alt="">

  </footer>

</div>
