<h1>Details for student: <%=@student.id %></h1>

<p>Student name: <%=  "#{@student.first_name} #{@student.second_name}" %></p>
<p>House: <%=  "#{@student.house.name}" %></p>
<p>Age: <%=  "#{@student.age}" %></p>

<form action="/hogwarts/<%= @student.id %>/delete" method="post">
  <p>
    <input type="submit" value="Delete">
  </p>
</form>

<img src="<%= @student.house.logo %>" alt="">

<form action="/hogwarts/<%= @student.id %>/edit" method="get">
  <p>
    <input type="submit" value="Edit">
  </p>
</form>

<p>
  <a href="/hogwarts">Click here to go back to the student list</a>
</p>
<hr>
